body {
    margin-right: 10%;
    margin-left: 10%;
}
h1 {
    text-align: center;
}
div.cover {
    text-align: center;
}
img.cover {
    width: 50%;
    float: left;
    margin-right: 20px;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown button.btn {
    background-color: navy;
    color: white;
    padding: 10px 20px 10px 20px;
}
.dropdown:hover .list {
    display: block;
    position: absolute;
    width: max-content;
}
.dropdown div.list {
    display: none;
    background-color: snow;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2) ;
}
.dropdown .list .list-item {
    padding: 10px 20px 10px 20px;
}
.dropdown .list .list-item:hover {
    background-color: #f5f5f5;
}
.dropdown .list .list-item input[type="checkbox"]:checked  {
    accent-color: red;
}
.dropdown .list .list-item input[type="checkbox"]:checked + label  {
    text-decoration: line-through;
}
.dropdown .list .list-item input[type="checkbox"]:hover  {
    cursor: pointer;
}